{% extends "base.html" %}

{% block announce %}
<div style="display: flex !important;
align-items: center;
align-content: center;
justify-content: center;">
<div style="max-width: 2em;
float: left;
position: relative;
font-size: 24px;
padding: 0 10px 0 0;"><a href="https://fuchsia-china.com/2022-document-group-recruitment/">📢</a>></div>
<div style="font-weight: bolder; 
font-size: 22px; 
text-align: center; 
justify-content: center;" ><a href="https://fuchsia-china.com">Fuchsia 中文社区</a>&nbsp;2022 年度翻译小组志愿者持续招募中！<wbr>如果您对翻译、校对、运营感兴趣，请<a href="https://fuchsia-china.com/2022-document-group-recruitment/">踊跃报名</a>！</div>
<div style="max-width: 2em;
float: right;
position: relative;
font-size: 24px;
padding: 0 0 0 10px;"><a href="https://fuchsia-china.com/2022-document-group-recruitment/">🙌</a></div>
</div>
{% endblock %}
